version: 2
jobs:
  build:
    working_directory: ~/testcircleci
    docker:
      - image: circleci/python:3.6.4
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DATABASE_URL: postgresql://ubuntu:@127.0.0.1:5432/test_ilp
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: test_ilp
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}
          #-{{ checksum "Pipfile.lock" }}
      - run:
          command: |
            sudo apt-get update -y
            sudo pip install pipenv
            sudo apt-get install -y libgdal-dev
            sudo apt-get install -y postgis
            sudo apt-get install -y postgresql-client
            sudo apt-get install -y python-virtualenv
            python -m venv venv
            #pipenv install
     # - save_cache:
      #      key: deps9-{{ .Branch }}
       #-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      #- run:
          #command: |
            #pipenv run "python manage.py test"
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
