version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/testcircleci
    steps:
      - checkout

  test:
    docker:
      # Python image required for AWS client
      - image: circleci/python:2.7
    working_directory: ~/testcircleci
    steps:
      - checkout
      - run:
          name: Install pip
          command: 'sudo apt-get update && sudo apt-get install python-pip'
      - run:
          name: Install awscli
          command: 'sudo pip install awscli'
      - run:
          name: Install pip
          command: |
              sudo apt-get update -y && sudo apt-get install python-pip -y \
              sudo apt-get install -y libgdal-dev \
              sudo apt-get install -y postgis \
              sudo apt-get install -y postgresql-client \
              sudo apt-get install -y python-virtualenv \ 
              python -m venv venv
      - run:
          name: Install awscli
          command: 'sudo pip install awscli'
  workflows:
   version: 2
   deploy:
     jobs:
       - deploy:
          filters:
            branches:
              only: test
  
