version: 2
jobs:
  build:
    working_directory: ~/api
   timezone:
     Asia/Kolkata
   python:
     version:
       3.6.1
   environment:
    DATABASE_URL: postgresql://ubuntu:@127.0.0.1:5432/test_ilp
    POSTGRES_USER: ubuntu 
    POSTGRES_DB: test_ilp
general:
  branches:
    only:
      - master      
  artifacts:
    - /tmp/artifacts
dependencies:
  pre:
    - sudo apt-get update
    - sudo apt-get install -y libgdal-dev
    - sudo apt-get install -y postgis
    - sudo apt-get install -y postgresql-client
    - sudo apt-get install -y python-virtualenv
    - python -m venv venv
    - source venv/bin/activate
  cache_directories:
    - "venv"   # relative to the build directory


database:
  pre:
    - sudo apt-get update -y


test:
  override:
    - mkdir -p /tmp/artifacts

  post:
    - git clean -dxf
