version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/testcirlceci
    steps:
      - checkout
    docker:
      # Python image required for AWS client
      - image: circleci/python:2.7
    working_directory: ~/testcircleci
    steps:
      - checkout
      - run:
          name: Install pip
          command: |
              sudo apt-get update -y && sudo apt-get install python-pip -y \
              sudo apt-get install -y libgdal-dev \
              sudo apt-get install -y postgis \
              sudo apt-get install -y postgresql-client \
              sudo apt-get install -y python-virtualenv \
              python -m venv venv
              #source venv/bin/activate && pip install -r requirements/test.txt 
      - run:
          name: Install awscli
          command: 'sudo pip install awscli'
     
  test:    
      venv/bin/activate && coverage run --source='.' --omit='venv/*' manage.py test boundary users assessments \
      venv/bin/activate && coverage report \
      venv/bin/activate && coverage html \
      mkdir -p /tmp/artifacts
      mv htmlcov /tmp/artifacts
workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            branches:
              only: test
